@using Microsoft.AspNetCore.Identity;
@using SweetHome.Models;
@inject UserManager<AppUser> usermanager
@{
    AppUser member = User.Identity.IsAuthenticated ? usermanager.Users.FirstOrDefault(x => x.UserName == User.Identity.Name) : null;
}
<!doctype html>
<html class="no-js" lang="zxx">


<!-- Mirrored from tunatheme.com/tf/html/quarter-preview/quarter/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 13 Jun 2023 19:35:43 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Quarter - Real Estate HTML Template</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Place favicon.png in the root directory -->
    <link rel="shortcut icon" href="~/assets/img/favicon.png" type="image/x-icon" />
    <!-- Font Icons css -->
    <link rel="stylesheet" href="~/assets/css/font-icons.css">
    <!-- plugins css -->
    <link rel="stylesheet" href="~/assets/css/plugins.css">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="~/assets/css/style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="~/assets/css/responsive.css">
</head>

<body>
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
    <!-- Add your site or application content here -->
    <!-- Body main wrapper start -->
    <div class="body-wrapper">

        <!-- HEADER AREA START (header-5) -->
        <header class="ltn__header-area ltn__header-5 ltn__header-transparent--- gradient-color-4---">
            <!-- ltn__header-top-area start -->
            <div class="ltn__header-top-area section-bg-6 top-area-color-white---">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="ltn__top-bar-menu">
                                <ul>
                                    <li><a href="mailto:info@webmail.com?Subject=Flower%20greetings%20to%20you"><i class="icon-mail"></i> info@webmail.com</a></li>
                                    <li><a href="locations.html"><i class="icon-placeholder"></i> 15/A, Nest Tower, NYC</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ltn__header-top-area end -->
            <!-- ltn__header-middle-area start -->
            <div class="ltn__header-middle-area ltn__header-sticky ltn__sticky-bg-white">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="site-logo-wrap">
                                <div class="site-logo">
                                    <a href="index.html"><img src="~/assets/img/logo.png" alt="Logo"></a>
                                </div>
                                <div class="get-support clearfix d-none">
                                    <div class="get-support-icon">
                                        <i class="icon-call"></i>
                                    </div>
                                    <div class="get-support-info">
                                        <h6>Get Support</h6>
                                        <h4><a href="tel:+123456789">123-456-789-10</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col header-menu-column">
                            <div class="header-menu d-none d-xl-block">
                                <nav>
                                    <div class="ltn__main-menu">
                                        <ul>
                                            <li>
                                                <a class="nav-link scrollto active" asp-controller="Home" asp-action="Index">Home</a>
                                            </li>
                                            <li><a asp-controller="About" asp-action="Index">About</a>
                                            </li>
                                            <li>
                                                <a asp-controller="Team" asp-action="Index">Team</a>
                                             </li>
                                             <li><a asp-controller="Shop" asp-action="Index" >Shop</a>
                                             </li>
                                            
                                            <li><a asp-controller="ContactUs" asp-action="Index">Contact</a></li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                        </div>
                        <div class="col ltn__header-options ltn__header-options-2 mb-sm-20">
                            <!-- user-menu -->
                            <div class="ltn__drop-menu user-menu">
                                <ul>
                                    <li>
                                        <a href="#"><i class="icon-user"></i></a>
                                        <ul>
                                            @if (!User.Identity.IsAuthenticated)
                                            {
                                                <li><a asp-controller="Account" asp-action="Login">Login</a></li>
                                                <li><a asp-controller="Account" asp-action="Register">Register</a></li>
                                            }
                                            else
                                            {
                                                <li><a asp-controller="Dashbaord" asp-action="Index" asp-area="EstateAdmin">@User.Identity.Name</a></li>
                                                <li><a asp-controller="Account" asp-action="LogOut">LogOut</a></li>
                                            }
                                            @if (member != null)
                                            {
                                                if (member.IsAgent == true)
                                                {
                                                    <li><a asp-controller="MyAccount" asp-action="SellerProfile" asp-route-mail="@member.Email">My Account</a></li>
                                                }
                                                else
                                                {
                                                    <li><a asp-controller="MyAccount" asp-action="BuyerProfile">My Account</a></li>
                                                }
                                            }
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <!-- mini-cart -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- ltn__header-middle-area end -->
        </header>
        <!-- Utilize Cart Menu End -->
        <div class="ltn__utilize-overlay"></div>

        @RenderBody()
   <!-- FOOTER AREA START -->
    <footer class="ltn__footer-area  ">
        <div class="footer-top-area  section-bg-2 plr--5">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-3 col-md-6 col-sm-6 col-12">
                        <div class="footer-widget footer-about-widget">
                            <div class="footer-logo">
                                <div class="site-logo">
                                    <img src="~/assets/img/logo-2.png" alt="Logo">
                                </div>
                            </div>
                            <p>Lorem Ipsum is simply dummy text of the and typesetting industry. Lorem Ipsum is dummy text of the printing.</p>
                            <div class="footer-address">
                                <ul>
                                    <li>
                                        <div class="footer-address-icon">
                                            <i class="icon-placeholder"></i>
                                        </div>
                                        <div class="footer-address-info">
                                            <p>Brooklyn, New York, United States</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="footer-address-icon">
                                            <i class="icon-call"></i>
                                        </div>
                                        <div class="footer-address-info">
                                            <p><a href="tel:+0123-456789">+0123-456789</a></p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="footer-address-icon">
                                            <i class="icon-mail"></i>
                                        </div>
                                        <div class="footer-address-info">
                                            <p><a href="mailto:example@example.com">example@example.com</a></p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-sm-6 col-12">
                        <div class="footer-widget footer-menu-widget clearfix">
                            <h4 class="footer-title">Company</h4>
                            <div class="footer-menu">
                                <ul>
                                    <li><a href="about.html">About</a></li>
                                    <li><a asp-controller="Shop" asp-action="Index">All Products</a></li>
                                        <li><a asp-controller="ContactUs" asp-action="Index">Contact us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-sm-6 col-12">
                        <div class="footer-widget footer-menu-widget clearfix">
                            <h4 class="footer-title">Customer Care</h4>
                            <div class="footer-menu">
                                <ul>
                                    <li><a href="login.html">Login</a></li>
                                        @if (member != null)
                                        {
                                            if (member.IsAgent == true)
                                            {
                                                <li><a asp-controller="MyAccount" asp-action="SellerProfile" asp-route-mail="@member.Email">My Account</a></li>
                                            }
                                            else
                                            {
                                                <li><a asp-controller="MyAccount" asp-action="BuyerProfile">My Account</a></li>
                                            }
                                        }
 
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ltn__copyright-area ltn__copyright-2 section-bg-7  plr--5">
            <div class="container-fluid ltn__border-top-2">
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="ltn__copyright-design clearfix">
                            <p>All Rights Reserved Company <span class="current-year"></span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- FOOTER AREA END -->
</div>
<!-- Body main wrapper end -->

    <!-- preloader area start -->
    <div class="preloader d-none" id="preloader">
        <div class="preloader-inner">
            <div class="spinner">
                <div class="dot1"></div>
                <div class="dot2"></div>
            </div>
        </div>
    </div>
    <!-- preloader area end -->

    <!-- All JS Plugins -->
    <script src="~/assets/js/plugins.js"></script>
    <!-- Main JS -->
    <script src="~/assets/js/main.js"></script>
    <script src="~/assets/js/app-html.js"></script>
    <script>
        function addWishlist(id) {
            $.ajax({
                url: "http://localhost:7168/Wishlist/AddWishlist",
                type: "POST",
                data: { id: id },
                success: function (result) {
                    console.log(result);
                    getWishlistItems()

                },
                error: function () {
                    console.log('Failed');
                }
            })
        }

        function getWishlistItems() {
            $.ajax({
                url: "http://localhost:7168/Wishlist/GetWishlistItems",
                type: "GET",
                success: function (result) {
                    console.log(result);
                },
                error: function (err) {
                    console.log(err);
                }
            })
        }
        getWishlistItems();

    </script>
</body>

<!-- Mirrored from tunatheme.com/tf/html/quarter-preview/quarter/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 13 Jun 2023 19:35:43 GMT -->
</html>


