@using SweetHome.Models;
@using SweetHome.ViewModels;
@model FilterVM
<div class="tab-pane fade active show" id="ltn__form_tab_1_1">
    <div class="car-dealer-form-inner">
        <form asp-controller="Home" asp-action="Filter" class="ltn__car-dealer-form-box row">
            <div class="ltn__car-dealer-form-item ltn__custom-icon---- ltn__icon-car---- col-lg-3 col-md-6">
                <select class="nice-select" asp-for="CityId" asp-items="new SelectList(Model.Citys,nameof(City.Id),nameof(City.Name))">
                </select>
            </div>
            <div class="ltn__car-dealer-form-item ltn__custom-icon---- ltn__icon-meter---- col-lg-3 col-md-6">
                <select class="nice-select" asp-for="CategoryId" asp-items="new SelectList(Model.Categories,nameof(Category.Id),nameof(Category.Name))">
                </select>
            </div>
            <div class="ltn__car-dealer-form-item ltn__custom-icon---- ltn__icon-calendar---- col-lg-3 col-md-6">
                <select class="nice-select" asp-for="HomeTypeId" asp-items="new SelectList(Model.HomeTypes,nameof(HomeType.Id),nameof(HomeType.Name))">
                </select>
            </div>
            <div class="ltn__car-dealer-form-item ltn__custom-icon ltn__icon-calendar col-lg-3 col-md-6">
                <div class="btn-wrapper text-center mt-0">
                     <button type="submit" class="btn theme-btn-1 btn-effect-1 text-uppercase">Find Now</button>
                </div>
            </div>
        </form>
    </div>
</div>
